@font-face{
    font-family: "notatki";
    src: url('AnnieUseYourTelescope.ttf');
}

body {
    background-image: url("dark_embroidery.png");
}
.form-container {
  background: linear-gradient(to bottom right, #2ab0ed, #bfe8f9 );
  width: 500px;
  height: 300px;
  box-shadow: 1px 1px 5px 0 #454545;
  border-radius: 15px;
  position: fixed;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: table;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.register-form {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.input-container {
  margin: 10px;
}

.input-container label {
  display: inline-block;
  text-align: right;
  clear: both;
  width: 30%;
  margin-right: 15px;
  float: left;
  vertical-align: middle;
}

.input-container input {
  vertical-align: middle;
  display: inline-block;
  width: 50%;
  height: 30px;
  font-size: 18px;
}

.clock {
  width: 50%;
  margin: 0 auto;
  text-align: center;
  font-size: 24px;
}

.create-tasks-container {
  margin: 0 auto;
  width: 50%;
}

.create-tasks-container input {
  width: 100%;
  font-size: 24px;
  margin-bottom: 10px;
}

.tasks-list {
  list-style-type: none;
  padding: 0;
}

.tasks-list-item {
  margin: 0px auto;
  background-image: url('ntpd.png');
  width: 50%;
  height: 30px;
  text-align: center;
}

.tasks-item-priority {
  float: left;
  font-size: 20px;
  font-weight: bold;
  margin-left: 15px;

}
#passwordStrength{
    border: 1px solid black;
    border-radius: 5px;
    height: 15px;
    width: 210px;
    margin-left: 210px;
    margin-bottom: 10px;
    background-image: url('empty.png') ;
}


li{
    background-color: white;
}

span:first-child{
    font-family: "notatki";
    max-width: 10px;
    word-wrap: break-word;
}

li > a{
    margin-top: 3px;
    width: 26px;
    height: 26px;
    background-image: url('x.png');
    background-repeat: no-repeat;
    float:right;
    cursor:pointer;
}

#clock{
    color: white;
}