body {
	background-image: url('bg.png');
	text-align: center;
}

.container{
    margin-left: auto;
    margin-right: auto;
    width: 455px;
}

.gameSpace {
    position: relative;
    /* background: #ffffff; */
    overflow: hidden;
    width: 440px;
    height: 355px;
    box-shadow: 1px 1px 1px #fff, inset 1px 1px 6px rgba(0, 0, 0, 0.2);
    border-radius: 6px;
}

.box {
    position: absolute;
    float: left;
    width: 80px;
    height: 80px;
    background: #ccccff;
    background-color: #ccccff;
    margin: 5px;
    border-radius: 5px;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.2), inset 1px 1px 1px #fff, 1px 1px 3px rgba(0,0,0,1);
}

div i {
	font-size: 46px;
	padding: 10px;
}

.sprite {
    width: 100px;
    height: 100px;
    display: inline-block;
    background-image: url(numbers_sprite.png);
}

.scoreCounter {
	display: inline-block;
}

.button {
    background-color: #4CAF50;
    border: solid 1px;
    border-radius: 10px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    margin: 4px 2px;
    cursor: pointer;
    }

.button:hover {
	background-color: #2AAD10;
}

.coolH {
  display: inline-block;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  padding: 25px;
  border: none;
  font: normal 60px/1 "Fredoka One", Helvetica, sans-serif;
  color: #4CAF50;
  -o-text-overflow: clip;
  text-overflow: clip;
  text-shadow: 3px 3px 0 #0166a4 , 4px 4px 0 #0166a4 , 5px 5px 0 #0177b5 , 6px 6px 0 #0177b5 , 7px 7px 0 #0188c6 , 8px 8px 0 #0188c6 , 9px 9px 0 #0199d9 , 13px 10px 0 #0199d9 , 11px 11px 0 #0299e5 , 12px 12px 0 #0299e5 , 13px 13px 0 #0299e5 ;
}