<!DOCTYPE html>
<html lang="en" data-ng-app="SdaApp">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">
    <title>First Angular App</title>
    <!-- Bootstrap core CSS -->
    <link href="assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="assets/css/bootstrap-theme.css" rel="stylesheet">

    <style>
        .bg-red {
            background-color: #ff8464;
        }
        .bg-blue {
            background-color: #70b3ff;
        }
        .bg-yellow {
            background-color: #fff88d;
        }
    </style>
</head>

<body ng-class="{'bg-red':red, 'bg-blue':blue, 'bg-yellow':yellow}">

<!--<div data-ng-controller="MainCtrl as ctrl">
    <button data-ng-click="ctrl.add()">Change Var</button>
    <button data-ng-click="ctrl.toggle()">Show/Hide</button>
    <span ng-hide="ctrl.boolShowVar"> Test var: {{ctrl.testVar}} </span>
    <span ng-show="ctrl.boolShowVar"> Prawda <br/> </span>
    <span ng-hide="ctrl.boolShowVar"> Fałsz <br/> </span>

    <span ng-repeat="number in ctrl.numbers track by $index">
        <span ng-bind="number"></span><br/>
    </span>
    &lt;!&ndash;//ng-bind zastepuje {{}} i wyswietlimy w tym przypadku pomiedzy spanem&ndash;&gt;
</div>-->

<div class="container" data-ng-controller="TabsCtrl as tabs">
    <div class="masthead">
        <h3 class="text-muted">Project name</h3>
        <nav>
            <ul class="nav nav-justified">
                <li><a ng-click="tabs.switchTab(1)">Products</a></li>
                <li><a ng-click="tabs.switchTab(2)">Add products</a></li>
            </ul>
        </nav>
    </div>

    <!-- div zewnetrzny stworzony zeby obejmowal obie zakladki -->
    <div ng-controller="MainCtrl as ctrl">
        <div class="row" ng-show="tabs.active(1)">
            <div class="col-lg-12">
                <button class="btn btn-success" ng-click="ctrl.toggle()">Show/Hide</button>
                <h2>Table of products</h2><br/>

                <input placeholder="Search" ng-model="searchQuery.name">

                <table class="table" ng-hide="ctrl.boolShowVar">
                    <thead>
                    <product-header></product-header>
                    <!--<tr>-->
                        <!--<th>Product Name</th>-->
                        <!--<th>Price</th>-->
                        <!--<th>Category</th>-->
                        <!--<th>Date</th>-->
                        <!--<th>Delete</th>-->
                    <!--</tr>-->
                    </thead>
                    <tbody>
                    <tr ng-repeat="product in ctrl.products | filter:searchQuery">
                        <td ng-bind="product.name | toUpperCase"></td>
                        <td ng-bind="product.price | currency"></td>
                        <td ng-bind="product.category | limitTo:3"></td>
                        <td ng-bind="product.date | date"></td>
                        <td><button class="btn btn-danger" ng-click="ctrl.delete($index)">Delete</button></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row" ng-show="tabs.active(2)">
            <form name="addProduct" ng-submit="ctrl.addProduct()" novalidate>
             <table class="table">
                <tr>
                    <td>Product name:</td>
                    <td><input required="required" name="name" type="text" ng-minlength="3" ng-model="ctrl.product.name"/></td>
                </tr>
                <tr>
                    <td>Price:</td>
                    <td><input required="required" name="price" type="number" ng-model="ctrl.product.price"/></td>
                </tr>
                <tr>
                    <td>Category name:</td>
                    <td><input required="required" name="category" type="text"ng-model="ctrl.product.category"/></td>
                </tr>
            </table>
                <button class="btn btn-success" type="submit" ng-show="addProduct.$valid">Add product</button>
            </form>
            <span class="alert-danger" ng-show="addProduct.name.$error.minlength">Name is too short</span>
            <span class="alert-danger" ng-show="addProduct.price.$error.number">Price is not a number</span>
                  <!--nazwa formularza. nazwa pola. blad liczby - umieszczone w show i pojawia sie dopiero gdy pojawi sie blad-->
        </div>
    </div>
    <!-- Site footer -->
    <footer class="footer">
        <p>&copy; 2015 Company, Inc.</p>
    </footer>
    <br/>
    <div class="row" ng-controller="ColorCtrl as color">
        <div class="col-md-1"><a ng-click="color.turnRed()">Red</a></div>
        <div class="col-md-1"><a ng-click="color.turnBlue()">Blue</a></div>
        <div class="col-md-1"><a ng-click="color.turnYellow()">Yellow</a></div>
    </div>
</div> <!-- /container -->

<!-- IE10 viewport hack for Surface/desktop Windows 8 bug || Got to change our path address-->
<script src="assets/js/angular.min.js"></script>
<script src="app/js/app.js"></script>
<script src="app/js/directives.js"></script>
<script src="app/js/controllers.js"></script>

</body>
</html>
