
.icon-emo-laugh:before { content: '\e800'; } /* '' */
.icon-emo-unhappy:before { content: '\e801'; } /* '' */
.icon-help:before { content: '\e802'; } /* '' */
.icon-thumbs-up:before { content: '\e803'; } /* '' */
.icon-thumbs-down:before { content: '\e804'; } /* '' */
.icon-right-dir:before { content: '\e805'; } /* '' */
.icon-left-dir:before { content: '\e806'; } /* '' */
.icon-css3:before { content: '\e807'; } /* '' */
.icon-drupal:before { content: '\e808'; } /* '' */
.icon-git:before { content: '\e809'; } /* '' */
.icon-github:before { content: '\e80a'; } /* '' */
.icon-html5:before { content: '\e80b'; } /* '' */
.icon-linux:before { content: '\e80c'; } /* '' */
.icon-wordpress:before { content: '\e80d'; } /* '' */
.icon-codeopen:before { content: '\e80e'; } /* '' */
.icon-android:before { content: '\e80f'; } /* '' */
.icon-reddit:before { content: '\e810'; } /* '' */
.icon-google:before { content: '\e811'; } /* '' */
.icon-linkedin:before { content: '\e812'; } /* '' */
.icon-twitter:before { content: '\e813'; } /* '' */
.icon-facebook:before { content: '\e814'; } /* '' */